* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: bisque;
}
header img {
    width: 350px;
}
header p {
    padding: 10px;
    border: 2px solid black;
    width: 300px;
    background-color: white;
}
header nav ul {
    list-style: none;
    display: flex;
    width: 120px;
    justify-content: space-between;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
main {
    height: 1207.5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
}
main section article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 350px;
    text-align: center;
}
main section article img {
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main section article p {
    margin: 5px;
}
footer {
    justify-self: flex-end;
    position: sticky;
    bottom: 0.1px;
    height: 170px;
    width: 100vw ;
    background-color: #1a1a1a;
    text-align: center;
}
footer img {
    width: 70vw;
    height: 170px;
}

@media (max-width: 480px){
    main section {
        flex-direction: column;
        width: 50vw;
    }
    main {
        flex-wrap: nowrap;
        height: 370vh;
        justify-content: center;
    }
    footer {
        position: sticky;
        bottom: 0.1px;
        height: 10vh;
    }
    footer img {
        width: 100vw;
        height: 10vh;
    }
}
